%h1= @annonce.titre
%p= @annonce.descr

%p.align-right
  Annonce proposée par :
  =link_to utilisateur_path(@createur.id) do
    = @createur.prenom
    = @createur.nom

- if(connecte? && (admin_connecte? || (utilisateur_courant.id == @annonce.createur)))
  - if(@preneur)
    %p.align-right
      Annonce acceptée par :
      =link_to utilisateur_path(@preneur.id) do
        = @preneur.prenom
        = @preneur.nom
  %p #{link_to "Editer", edit_annonce_path(@annonce.id)}
  %p #{link_to "Supprimer", @annonce, method: :delete, data: { confirm: "Vous êtes sûr?" }}

- elsif(connecte? && pro_connecte? && (@annonce.preneur == nil))
  =form_tag @annonce, method: "patch", data: { confirm: "Etes-vous sûr?"} do
    = submit_tag "Accepter l'annonce", class: "btn btn-primary"

- elsif(connecte? && pro_connecte? && (@annonce.preneur == session[:utilisateur_id]))
  =form_tag annonces_annuler_path(@annonce), method: "patch" do
    = submit_tag "Annuler l'acceptation", class: "btn btn-primary", data: { confirm: "Etes-vous sûr?" }
